* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    width: 80px;
    margin-right: 20px;
  }
  
  .content {
    text-align: center;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .title span {
    color: white;
    text-shadow: 
      -1px -1px 0 black,  /* Sombra para cima e esquerda */
      1px -1px 0 black,   /* Sombra para cima e direita */
      -1px 1px 0 black,   /* Sombra para baixo e esquerda */
      1px 1px 0 black;    /* Sombra para baixo e direita */
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .character {
    width: 200px;
    margin-left: 20px;
  }
  
  /* Responsividade para dispositivos móveis */
@media (max-width: 600px) {
  .container {
      flex-direction: column; /* Coloca os elementos em coluna */
      padding: 15px;
      text-align: center;
  }

  .logo {
      margin-right: 0;
      margin-bottom: 15px; /* Espaçamento abaixo da logo */
      width: 60px; /* Diminui o tamanho da logo */
  }

  .title {
      font-size: 28px; /* Reduz o tamanho do título */
  }

  .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .button {
      margin: 5px 0; /* Margem vertical entre os botões */
      padding: 10px 15px;
      font-size: 14px;
  }

  .character {
      margin-left: 0;
      margin-top: 15px;
      width: 150px; /* Reduz o tamanho da imagem do personagem */
  }
}